# Commercial Bank Customer Retention Prediction

## APSTA-GE.2401: Statistical Consulting

### Scripts

## Data Pre-process

### Code Book
##### aum_m(Y) 
This data set contains customer's assest at the end of month Y.

| Variable Name | Description |
| ------------- | ------------- |
| cust_no  | custumer's ID (primary key)  |
| X1  | structured deposit balance |
| X2  | time deposit balance  |
| X3  | demand deposit balance  |
| X4  | financial products balance  |
| X5  | fund balance  |
| X6  | assest management balance  |
| X7  | loan balance  |
| X8  | large deposit certificate balance  |

##### behavior_m(Y) 
This data set records customers' behaviors in month Y.


B6 and B7 only have data of month 3, 6, 9 and 12.

| Variable Name | Description |
| ------------- | ------------- |
| cust_no  | custumer's ID (primary key)  |
| B1  | mobile banking login times |
| B2  | transfer-in times |
| B3  | transfer-in money amount  |
| B4  | transfer-out times |
| B5  | transfer-out money amount  |
| B6  | lateset transfer time  |
| B7  | number of transfers in a season |

##### big_event_Q(Z)
This data set records customers' important behaviors in the season Z.

| Variable Name | Description |
| ------------- | ------------- |
| cust_no  | custumer's ID (primary key)  |
| E1  | account opening date |
| E2  | online banking opening date |
| E3  | mobile banking opening date  |
| E4  | first online banking login date |
| E5  | first mobile banking login date |
| E6  | first demand deposit date |
| E7  | first time deposit date |
| E8  | first loan date |
| E9  | first overdue date |
| E10  | first cash transaction date |
| E11  | first bank-securities transfer date |
| E12  | first transfer at counter date |
| E13  | first transfer via online banking date |
| E14  | first transfer via mobile banking date |
| E15  | maximum amount transferred out of another bank |
| E16  | maximum amount transferred out of another bank date |
| E17  | Maximum transfer amount from other bank |
| E18  | Maximum transfer amount from other bank date|

#####  cunkuan_m(Y)
This data set contains customers' deposits in month Y.

| Variable Name | Description |
| ------------- | ------------- |
| cust_no  | custumer's ID (primary key)  |
| C1  | deposit products value|
| C2  | number of deposit products  |

#####  cust_avli_Q(Z)
This data set contains customers list in the season Z.

| Variable Name | Description |
| ------------- | ------------- |
| cust_no  | custumer's ID (primary key)  |

##### cust_info_q(Z)
This data set contains customer information in the season Z.

| Variable Name | Description |
| ------------- | ------------- |
| cust_no  | custumer's ID (primary key)  |
| l1  | gender |
| l2  | age |
| l3  | class |
| l4  | tag |
| l5  | occupation |
| l6  | deposit customer tag |
| l7  | number of products owning |
| l8  | constellation |
| l9  | contribution |
| l10  | education level |
| l11  | family annual income |
| l12  | field description |
| l13  | marriage description |
| l14  | occupation description |
| l15  | QR code recipient |
| l16  | VIP |
| l17  | online banking client |
| l18  | mobile banking client |
| l19  | SMS client |
| l20  | WeChat Pay client|

In [2]:
import pandas as pd
import csv
import glob
import re
import os

In [12]:
X_test = '../data/raw/x_test/'
X_train = '../data/raw/x_train/'
y_train_3 = '../data/raw/y_train_3/'

### Load in Test Data

In [25]:
aum_m1 = pd.read_csv(X_test + "aum_test/aum_m1.csv")
aum_m2 = pd.read_csv(X_test + "aum_test/aum_m2.csv")
aum_m3 = pd.read_csv(X_test + "aum_test/aum_m3.csv")

behavior_m1 = pd.read_csv(X_test + "behavior_test/behavior_m1.csv")
behavior_m2 = pd.read_csv(X_test + "behavior_test/behavior_m2.csv")
behavior_m3 = pd.read_csv(X_test + "behavior_test/behavior_m3.csv")

cunkuan_m1 = pd.read_csv(X_test + "cunkuan_test/cunkuan_m1.csv")
cunkuan_m2 = pd.read_csv(X_test + "cunkuan_test/cunkuan_m2.csv")
cunkuan_m3 = pd.read_csv(X_test + "cunkuan_test/cunkuan_m3.csv")

big_event_Q1 = pd.read_csv(X_test + "big_event_Q1.csv")
cust_avli_Q1 = pd.read_csv(X_test + "cust_avli_Q1.csv")
cust_info_q1 = pd.read_csv(X_test + "cust_info_q1.csv")

### Load in Train Data

In [26]:
aum_m7 = pd.read_csv(X_train + "aum_train/aum_m7.csv")
aum_m8 = pd.read_csv(X_train + "aum_train/aum_m8.csv")
aum_m9 = pd.read_csv(X_train + "aum_train/aum_m9.csv")
aum_m10 = pd.read_csv(X_train + "aum_train/aum_m10.csv")
aum_m11 = pd.read_csv(X_train + "aum_train/aum_m11.csv")
aum_m12 = pd.read_csv(X_train + "aum_train/aum_m12.csv")

behavior_m7 = pd.read_csv(X_train + "behavior_train/behavior_m7.csv")
behavior_m8 = pd.read_csv(X_train + "behavior_train/behavior_m8.csv")
behavior_m9 = pd.read_csv(X_train + "behavior_train/behavior_m9.csv")
behavior_m10 = pd.read_csv(X_train + "behavior_train/behavior_m10.csv")
behavior_m11 = pd.read_csv(X_train + "behavior_train/behavior_m11.csv")
behavior_m12 = pd.read_csv(X_train + "behavior_train/behavior_m12.csv")

big_event_Q3 = pd.read_csv(X_train + "big_event_train/big_event_Q3.csv")
big_event_Q4 = pd.read_csv(X_train + "big_event_train/big_event_Q4.csv")

cunkuan_m7 = pd.read_csv(X_train + "cunkuan_train/cunkuan_m7.csv")
cunkuan_m8 = pd.read_csv(X_train + "cunkuan_train/cunkuan_m8.csv")
cunkuan_m9 = pd.read_csv(X_train + "cunkuan_train/cunkuan_m9.csv")
cunkuan_m10 = pd.read_csv(X_train + "cunkuan_train/cunkuan_m10.csv")
cunkuan_m11 = pd.read_csv(X_train + "cunkuan_train/cunkuan_m11.csv")
cunkuan_m12 = pd.read_csv(X_train + "cunkuan_train/cunkuan_m12.csv")

cust_avli_Q3 = pd.read_csv(X_train + "cust_avli_Q3.csv")
cust_avli_Q4 = pd.read_csv(X_train + "cust_avli_Q4.csv")

cust_info_q3 = pd.read_csv(X_train + "cust_info_q3.csv")
cust_info_q4 = pd.read_csv(X_train + "cust_info_q4.csv")

In [27]:
y_Q3_3 = pd.read_csv(y_train_3 + "y_Q3_3.csv")
y_Q4_3 = pd.read_csv(y_train_3 + "y_Q4_3.csv")

### Missing Values

In [139]:
# check which data set has missing values
def nulltracker(self):
    counter = 0
    for names in self:
        indicator = names.isnull().sum() == 0
        if indicator.all() == False:
            print(counter)
        counter = counter + 1

In [127]:
aum_m = aum_m1, aum_m2, aum_m3, aum_m7, aum_m8, aum_m9, aum_m10, aum_m11, aum_m12
nulltracker(aum_m)

In [151]:
behavior_m = behavior_m1, behavior_m2, behavior_m3, behavior_m7, behavior_m8, behavior_m9, behavior_m10, behavior_m11, behavior_m12 
nulltracker(behavior_m)

2
5
8

In [129]:
cunkuan_m = cunkuan_m1, cunkuan_m2, cunkuan_m3, cunkuan_m7, cunkuan_m8, cunkuan_m9, cunkuan_m10, cunkuan_m11, cunkuan_m12
nulltracker(cunkuan_m)

In [141]:
big_event_Q = big_event_Q1, big_event_Q3, big_event_Q4
nulltracker(big_event_Q)

0
1
2

In [142]:
cust_avli_Q = cust_avli_Q1, cust_avli_Q3, cust_avli_Q4
nulltracker(cust_avli_Q)

In [143]:
cust_info_q = cust_info_q1, cust_info_q3, cust_info_q4
nulltracker(cust_info_q)

0
1
2

In [144]:
y_Q = y_Q3_3, y_Q4_3
nulltracker(y_Q)

In [146]:
#print(behavior_m[3][behavior_m[3].isnull().T.any()])
behavior_m[2].isnull().any()
behavior_m[2]["B6"]

0                         NaN
1                         NaN
2                         NaN
3         2020-03-31 22:06:00
4                         NaN
5         2020-03-30 19:07:00
6                         NaN
7                         NaN
8                         NaN
9                         NaN
10                        NaN
11                        NaN
12                        NaN
13                        NaN
14                        NaN
15        2020-01-16 11:07:00
16                        NaN
17                        NaN
18                        NaN
19                        NaN
20                        NaN
21                        NaN
22                        NaN
23                        NaN
24        2020-01-20 04:17:00
25                        NaN
26                        NaN
27                        NaN
28                        NaN
29                        NaN
                 ...
659594                    NaN
659595                    NaN
659596                    NaN
659597                    NaN
659598                    NaN
659599                    NaN
659600                    NaN
659601                    NaN
659602                    NaN
659603                    NaN
659604                    NaN
659605                    NaN
659606                    NaN
659607                    NaN
659608                    NaN
659609                    NaN
659610                    NaN
659611                    NaN
659612                    NaN
659613    2020-03-31 10:50:00
659614    2020-03-31 10:14:00
659615                    NaN
659616                    NaN
659617                    NaN
659618                    NaN
659619                    NaN
659620                    NaN
659621                    NaN
659622                    NaN
659623                    NaN
Name: B6, Length: 659624, dtype: object

In [156]:
behavior_m12

           cust_no  B1  B2         B3  B4         B5                   B6  B7
0       0xb2d14994   5   2    1346.15   2    5346.15  2019-12-13 18:03:00  22
1       0xb2d65824   0   0       0.00   0       0.00                  NaN   0
2       0xb2d539b7   0   0       0.00   0       0.00                  NaN   0
3       0xb2d807ae   0   0       0.00   0       0.00                  NaN   0
4       0xb2d176b2  14   3  292654.81   8  323939.53  2019-12-31 06:02:00  28
5       0xb2d1386f   0   0       0.00   0       0.00                  NaN   0
6       0xb2d5ae1e   0   1       0.01   0       0.00  2019-12-13 19:35:00   1
7       0xb2d73522   0   0       0.00   0       0.00                  NaN   0
8       0xb2d4bec7   0   0       0.00   0       0.00                  NaN   0
9       0xb2d86da5   0   0       0.00   0       0.00                  NaN   0
10      0xb2d86cbe   0   0       0.00   0       0.00                  NaN   0
11      0xb2d4de0f   0   0       0.00   0       0.00                  NaN   0
12      0xb2d17a9b   0   0       0.00   0       0.00                  NaN   0
13      0xb2d6b7b5   0   0       0.00   0       0.00  2019-04-24 17:40:00   0
14      0x3b9b42b7   0   0       0.00   0       0.00                  NaN   0
15      0xb2d32c08   0   0       0.00   0       0.00                  NaN   0
16      0xb2d81f71   0   0       0.00   0       0.00                  NaN   0
17      0xb2d328b9   0   0       0.00   0       0.00  2019-04-18 23:57:00   0
18      0xb2d81f24   0   0       0.00   0       0.00                  NaN   0
19      0xb2d2fb9b   0   0       0.00   0       0.00                  NaN   0
20      0xb2d73f71   0   0       0.00   0       0.00                  NaN   0
21      0xb2d612a9   0   0       0.00   0       0.00                  NaN   0
22      0xb2d2fccf   0   0       0.00   0       0.00                  NaN   0
23      0xb2d2fd1c   0   0       0.00   0       0.00                  NaN   0
24      0xb2d1309d   0   0       0.00   0       0.00  2019-10-18 04:12:00   4
25      0xb2d8235a   0   0       0.00   0       0.00                  NaN   0
26      0xb2d1ced3   0   0       0.00   0       0.00  2019-06-18 12:24:00   0
27      0xb2d0da4a   0   0       0.00   0       0.00                  NaN   0
28      0xb2d40000   0   1   25565.00   0       0.00  2019-12-08 23:52:00   3
29      0xb2d2d17f   0   0       0.00   0       0.00                  NaN   0
...            ...  ..  ..        ...  ..        ...                  ...  ..
543793  0xb2da3084   3   2   80100.00   1   80000.00  2019-12-27 04:35:00   5
543794  0xb2da579e   0   0       0.00   0       0.00  2019-12-24 15:56:00   8
543795  0xb2da4cca   0   0       0.00   0       0.00                  NaN   0
543796  0xb2da544f   2   0       0.00   0       0.00                  NaN   0
543797  0xb2da393d   0   1     100.00   0       0.00  2019-12-27 15:16:00   1
543798  0xb2da5066   1   0       0.00   0       0.00                  NaN   0
543799  0xb2da4d64   0   0       0.00   0       0.00                  NaN   0
543800  0xb2da5368   1   0       0.00   0       0.00                  NaN   0
543801  0xb2da3c3f   3   0       0.00   0       0.00  2019-12-18 11:28:00   1
543802  0xb2da5751   7   2       2.00   0       0.00  2019-12-26 16:57:00   3
543803  0xb2da497b   0   1     100.00   0       0.00  2019-12-19 17:22:00   1
543804  0xb2da5019   0   0       0.00   0       0.00  2019-12-31 16:48:00   1
543805  0xb2da316b   0   1     100.00   0       0.00  2019-12-20 22:13:00   9
543806  0xb2da5281   2   1   10000.00   1   10000.00  2019-12-25 08:16:00  12
543807  0xb2da2f50   0   0       0.00   0       0.00                  NaN   0
543808  0xb2da4a62   0   1       0.10   0       0.00  2019-12-24 19:13:00  13
543809  0xb2da3856   0   1     100.00   0       0.00  2019-12-27 15:16:00   1
543810  0xb2da566a   0   1     100.00   0       0.00  2019-12-26 17:12:00   1
543811  0xb2da4fcc   1   2     200.00   0       0.00  2019-12-23 11:40:00   3
543812  0xb2da63a6   5   0       0.00   0       0.00                  NaN   0
543813  0xb2da5c6e  11   2       2.00   0       0.00  2019-12-27 11:27:00   3
543814  0xb2da5b87   2   0       0.00   0       0.00  2019-12-25 15:57:00   3
543815  0xb2da5fbd  11   1   20000.00   1   20000.00  2019-12-30 04:29:00   2
543816  0xb2da6359   0   0       0.00   0       0.00                  NaN   0
543817  0xb2da5f70   0   1     100.00   0       0.00  2019-12-26 18:18:00   2
543818  0xb2da6057   0   0       0.00   0       0.00                  NaN   0
543819  0xb2da5bd4   0   0       0.00   0       0.00  2019-12-25 16:17:00   8
543820  0xb2da5a53   0   1      50.00   0       0.00  2019-12-31 13:31:00   1
543821  0xb2da678f   6   0       0.00   0       0.00  2019-12-30 12:48:00   2
543822  0xb2da6b78   4   0       0.00   0       0.00                  NaN   0

[543823 rows x 8 columns]

In [36]:
display(aum_m1.describe(), aum_m2.describe(), aum_m3.describe(), aum_m7.describe(), aum_m8.describe(), 
        aum_m9.describe(), aum_m10.describe(), aum_m11.describe(), aum_m12.describe())

,X1,X2,X3,X4,X5,X6,X7,X8
count,5.561950e+05,5.561950e+05,5.561950e+05,5.561950e+05,5.561950e+05,5.561950e+05,5.561950e+05,5.561950e+05
mean,4.752963e+04,3.296358e+03,4.633316e+03,4.351619e+03,1.939474e+02,3.158859e+02,6.446212e+04,1.264714e+04
std,1.555244e+06,5.476658e+05,2.170638e+05,1.000142e+05,1.039317e+04,2.743851e+04,6.525137e+05,1.866075e+05
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,0.000000e+00,0.000000e+00,7.670000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,2.900000e+08,3.278498e+08,1.090412e+08,3.000000e+07,3.740000e+06,1.000000e+07,3.000000e+07,5.800000e+07

,X1,X2,X3,X4,X5,X6,X7,X8
count,6.036310e+05,6.036310e+05,6.036310e+05,6.036310e+05,6.036310e+05,6.036310e+05,6.036310e+05,6.036310e+05
mean,4.385846e+04,3.259812e+03,4.922958e+03,3.361816e+03,1.850724e+02,2.975686e+02,5.981933e+04,1.230564e+04
std,1.492338e+06,5.552339e+05,2.108768e+05,7.890369e+04,8.912695e+03,2.673754e+04,6.298647e+05,1.846377e+05
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.770000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,0.000000e+00,0.000000e+00,3.970000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,2.900000e+08,3.335142e+08,1.090412e+08,1.877200e+07,2.100000e+06,1.000000e+07,3.000000e+07,5.800000e+07

,X1,X2,X3,X4,X5,X6,X7,X8
count,6.596240e+05,6.596240e+05,6.596240e+05,6.596240e+05,6.596240e+05,6.596240e+05,6.596240e+05,6.596240e+05
mean,4.102785e+04,2.397763e+03,4.548653e+03,3.144846e+03,1.842109e+02,2.599848e+02,5.723952e+04,1.273369e+04
std,1.397215e+06,4.778389e+05,2.230232e+05,7.184628e+04,1.528895e+04,2.447511e+04,6.255421e+05,3.088467e+05
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.770000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,0.000000e+00,0.000000e+00,2.370000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,2.000000e+08,3.372508e+08,1.091459e+08,1.822000e+07,1.000000e+07,1.000000e+07,3.000000e+07,1.500000e+08

,X1,X2,X3,X4,X5,X6,X7,X8
count,4.654410e+05,4.654410e+05,4.654410e+05,4.654410e+05,4.654410e+05,4.654410e+05,4.654410e+05,4.654410e+05
mean,4.577886e+04,3.865932e+03,6.319957e+03,3.782432e+03,2.138875e+02,5.058526e+02,5.795086e+04,7.914900e+03
std,1.511018e+06,5.353912e+05,2.793072e+05,1.667316e+05,1.273293e+04,6.875766e+04,6.190032e+05,1.453283e+05
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,0.000000e+00,0.000000e+00,4.300000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,3.470000e+08,2.106535e+08,1.000718e+08,6.800000e+07,4.035640e+06,4.075714e+07,3.475000e+07,5.000000e+07

,X1,X2,X3,X4,X5,X6,X7,X8
count,4.790630e+05,4.790630e+05,4.790630e+05,4.790630e+05,4.790630e+05,4.790630e+05,4.790630e+05,4.790630e+05
mean,5.015033e+04,3.243406e+03,4.790877e+03,3.527987e+03,2.071597e+02,4.809048e+02,5.968186e+04,8.685593e+03
std,1.633422e+06,5.083591e+05,2.026442e+05,1.213563e+05,1.190652e+04,6.803267e+04,6.276697e+05,1.541113e+05
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,0.000000e+00,0.000000e+00,4.310000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,2.900000e+08,2.168897e+08,9.467516e+07,5.086000e+07,3.024484e+06,4.086245e+07,3.475000e+07,5.000000e+07

,X1,X2,X3,X4,X5,X6,X7,X8
count,4.934410e+05,4.934410e+05,4.934410e+05,4.934410e+05,4.934410e+05,4.934410e+05,4.934410e+05,4.934410e+05
mean,5.107197e+04,3.042671e+03,5.425967e+03,3.708233e+03,2.227427e+02,4.279809e+02,6.160078e+04,1.021980e+04
std,1.656046e+06,4.052455e+05,3.028736e+05,1.213474e+05,1.451766e+04,3.740105e+04,6.395431e+05,1.915077e+05
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,0.000000e+00,0.000000e+00,5.730000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,2.900000e+08,2.164307e+08,1.420225e+08,5.086000e+07,5.003991e+06,1.154171e+07,3.283146e+07,5.000000e+07

,X1,X2,X3,X4,X5,X6,X7,X8
count,5.065130e+05,5.065130e+05,5.065130e+05,5.065130e+05,5.065130e+05,5.065130e+05,5.065130e+05,5.065130e+05
mean,4.965324e+04,3.594652e+03,6.016074e+03,4.000847e+03,2.039064e+02,3.460443e+02,6.273838e+04,1.066476e+04
std,1.647982e+06,5.701597e+05,2.185682e+05,8.197853e+04,1.156378e+04,3.068168e+04,6.455918e+05,1.870771e+05
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,0.000000e+00,0.000000e+00,5.700000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,2.900000e+08,3.357371e+08,7.913093e+07,1.986000e+07,3.100000e+06,1.018211e+07,3.278319e+07,5.000000e+07

,X1,X2,X3,X4,X5,X6,X7,X8
count,5.215660e+05,5.215660e+05,5.215660e+05,5.215660e+05,5.215660e+05,5.215660e+05,5.215660e+05,5.215660e+05
mean,4.996368e+04,3.872203e+03,4.449279e+03,4.441739e+03,1.986803e+02,3.376526e+02,6.410221e+04,1.125153e+04
std,1.623167e+06,5.717576e+05,1.923967e+05,9.522327e+04,1.037671e+04,3.005550e+04,6.513732e+05,1.840652e+05
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,0.000000e+00,0.000000e+00,5.750000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,2.900000e+08,3.346185e+08,7.913093e+07,3.000000e+07,2.900067e+06,1.020815e+07,3.273456e+07,5.000000e+07

,X1,X2,X3,X4,X5,X6,X7,X8
count,5.438230e+05,5.438230e+05,5.438230e+05,5.438230e+05,5.438230e+05,5.438230e+05,5.438230e+05,5.438230e+05
mean,4.767450e+04,3.674215e+03,5.989938e+03,4.462179e+03,2.572643e+02,4.353697e+02,6.395352e+04,1.230428e+04
std,1.590177e+06,5.750387e+05,2.448612e+05,1.169876e+05,1.835657e+04,3.916726e+04,6.508835e+05,2.063124e+05
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,0.000000e+00,0.000000e+00,8.510000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,2.900000e+08,3.320671e+08,1.090412e+08,4.500000e+07,7.000000e+06,1.001083e+07,3.000000e+07,7.600000e+07